In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv("/kaggle/input/chapter-2-carpricedata/data.csv", encoding="ISO-8859-1")

In [ ]:
df.head()

In [ ]:
# update column names to be lowercase and snake case
df.columns = df.columns.str.lower().str.replace(' ', '_')
df.columns

In [ ]:
# Now we want to change the data in columns to make them consistent (lowercase and snake case)
# step 1 is to find which data values are string objects
df.dtypes

In [ ]:
df.dtypes == 'object'
# we just want the index of the ones that are strings. 
strings = list(df.dtypes[df.dtypes == 'object'].index)
strings

In [ ]:
# this is how it is done for one of them.
df['make'].str.lower().str.replace(' ', '_')

In [ ]:
for col in strings:
    df[col] = df[col].str.lower().str.replace(' ', '_')
    

df.head()