In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [2]:
# df = pd.read_csv('../input/cardataset/data.csv')
df = pd.read_csv('/Users/param/Desktop/Projects/MLZoomcamp/data.csv')

df

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11909,Acura,ZDX,2012,premium unleaded (required),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,46120
11910,Acura,ZDX,2012,premium unleaded (required),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,56670
11911,Acura,ZDX,2012,premium unleaded (required),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,50620
11912,Acura,ZDX,2013,premium unleaded (recommended),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,50920
11913,Lincoln,Zephyr,2006,regular unleaded,221.0,6.0,AUTOMATIC,front wheel drive,4.0,Luxury,Midsize,Sedan,26,17,61,28995

In [3]:
columns = ['make', 'model', 'year', 'engine_hp', 'engine_cylinders', 'transmission_type', 'vehicle_style', 'highway_mpg', 'city_mpg', 'msrp']

In [4]:
df.columns = df.columns.str.lower().str.replace(' ', '_')

In [5]:
df = df[columns]
df.head()

,make,model,year,engine_hp,engine_cylinders,transmission_type,vehicle_style,highway_mpg,city_mpg,msrp
0,BMW,1 Series M,2011,335.0,6.0,MANUAL,Coupe,26,19,46135
1,BMW,1 Series,2011,300.0,6.0,MANUAL,Convertible,28,19,40650
2,BMW,1 Series,2011,300.0,6.0,MANUAL,Coupe,28,20,36350
3,BMW,1 Series,2011,230.0,6.0,MANUAL,Coupe,28,18,29450
4,BMW,1 Series,2011,230.0,6.0,MANUAL,Convertible,28,18,34500

In [6]:
str_col = df.dtypes[df.dtypes == 'object'].index
str_col

Index(['make', 'model', 'transmission_type', 'vehicle_style'], dtype='object')

In [7]:

for col in str_col:
    df[col] = df[col].str.lower().str.replace(' ', '_')

/var/folders/qc/gjj9ts396vnf0zzl4fk7vprw0000gn/T/ipykernel_4146/736115796.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = df[col].str.lower().str.replace(' ', '_')

In [8]:
df.isnull().sum()
df = df.fillna(0)

In [9]:
df.isnull().sum()

make                 0
model                0
year                 0
engine_hp            0
engine_cylinders     0
transmission_type    0
vehicle_style        0
highway_mpg          0
city_mpg             0
msrp                 0
dtype: int64

In [10]:
price_mean = df.msrp.mean()
price_mean

40594.737032063116

In [11]:
df.head().T

                            0            1         2         3            4
make                      bmw          bmw       bmw       bmw          bmw
model              1_series_m     1_series  1_series  1_series     1_series
year                     2011         2011      2011      2011         2011
engine_hp               335.0        300.0     300.0     230.0        230.0
engine_cylinders          6.0          6.0       6.0       6.0          6.0
transmission_type      manual       manual    manual    manual       manual
vehicle_style           coupe  convertible     coupe     coupe  convertible
highway_mpg                26           28        28        28           28
city_mpg                   19           19        20        18           18
msrp                    46135        40650     36350     29450        34500

In [12]:
df['above_average'] = (df['msrp'] >= price_mean)
df.above_average = df.above_average.astype('int')
df.head().T

                            0            1         2         3            4
make                      bmw          bmw       bmw       bmw          bmw
model              1_series_m     1_series  1_series  1_series     1_series
year                     2011         2011      2011      2011         2011
engine_hp               335.0        300.0     300.0     230.0        230.0
engine_cylinders          6.0          6.0       6.0       6.0          6.0
transmission_type      manual       manual    manual    manual       manual
vehicle_style           coupe  convertible     coupe     coupe  convertible
highway_mpg                26           28        28        28           28
city_mpg                   19           19        20        18           18
msrp                    46135        40650     36350     29450        34500
above_average               1            1         0         0            0

In [13]:
from sklearn.model_selection import train_test_split

In [14]:
df_full_train, df_test = train_test_split(df, test_size=0.2, random_state=1) 
df_train, df_val = train_test_split(df_full_train, test_size=0.25, random_state=1)
len(df_full_train), len(df_train), len(df_val), len(df_test)

(9531, 7148, 2383, 2383)

In [15]:
df_train = df_train.reset_index(drop=True)
df_val = df_val.reset_index(drop=True)
df_test = df_test.reset_index(drop=True)

y_train = df_train.above_average.values
y_val = df_val.above_average.values
y_test = df_test.above_average.values

del df_train['above_average']
del df_val['above_average']
del df_test['above_average']
del df_train['msrp']
del df_val['msrp']
del df_test['msrp']

df_train.columns

Index(['make', 'model', 'year', 'engine_hp', 'engine_cylinders',
       'transmission_type', 'vehicle_style', 'highway_mpg', 'city_mpg'],
      dtype='object')

In [16]:
df_train.dtypes

make                  object
model                 object
year                   int64
engine_hp            float64
engine_cylinders     float64
transmission_type     object
vehicle_style         object
highway_mpg            int64
city_mpg               int64
dtype: object

In [17]:
numerical = ['year', 'engine_hp', 'engine_cylinders','city_mpg', 'highway_mpg' ]
categorical = ['vehicle_style', 'transmission_type', 'model', 'make' ]

In [18]:
from sklearn.metrics import roc_auc_score
from sklearn.metrics import auc
from sklearn.feature_extraction import DictVectorizer
from sklearn.linear_model import LogisticRegression

In [43]:
def train(df_train, y_train, col):
    dicts = df_train[col].to_dict()
    print(len(dicts))
    dv = DictVectorizer(sparse=False)
    X_train = dv.fit_transform(dicts)
    print(len(X_train), len(y_train))

#     model = LogisticRegression(C=1.0, max_iter=1000)
#     model.fit(X_train, y_train)
    
#     return dv, model

In [25]:
def predict(df, dv, model, col):
    dicts = df[col].to_dict()

    X = dv.transform(dicts)
    y_pred = model.predict_proba(X)[:, 1]

    return y_pred

In [55]:
for col in numerical:
    values = df[col].values
    score = roc_auc_score(values, y_train, multi_class='ovr')
    print(col, score)

AxisError: axis 1 is out of bounds for array of dimension 1